<h2 align="center">All records</h2>

	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
			<table>
				<tr>
					<th>Supplier</th>
					<th>Quality</th>
					<th>Size</th>
					<th>Create Job Card</th>
				</tr>
				<% @stock.each do |stock| %>
					<tr>
					<div class="col-xs-4">
						<td><%= stock.paper_from %></td>
					</div>
					<div class="col-xs-4">
						<td><%= stock.paper_type %></td>
					</div>
					<div class="col-xs-4">
						<td><%= stock.size %></td>
					</div>
					<div class="col-xs-4">
						<td><%= link_to "Create", new_stock_jobcard_path(stock)%></td>
					</div>
					</tr>
				<% end %>
			</table>
	</div>
	</div>

