<h2>Showing record</h2>
	<div class="row">
		<div align="center" class="well ">
			Supplier : <%= @stock.paper_from%><br>
			paper_Type : <%= @stock.paper_type%><br>
			Quntity : <%= @stock.quantity%><br>
			Size : <%= @stock.size%><hr>
		</div>	
	</div>
