<div class="container">
	<div align="center" class="jumbotron customs">
		<h1>Zia Ul Quran Publications</h1>
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
	</div>
</div>