<h2 align="center">zia ul quran publications</h2>
	<div  align= "center" class="container">
		<div align="center" class="well">
			<table id="stocks_listings">
			<tr>
				<th>Number of Plates</th>
				<th>Color Print</th>
				<th>Number of Print</th>
				<th>Price per Print</th>
				<th>Article Number</th>
				<th></th>
			</tr>
			<tr>
				<td><%= @bill.num_of_plates %></td>
				<td><%= @bill.num_0f_colors %></td>
				<td><%= @bill.rate%></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
			</table>
		</div>
	</div>
