@import "bootstrap-sprockets";
@import "bootstrap";
.margin{
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer{
	margin-top: 45px;
	padding-top: 5px;
	bordor-top: 2px solid #eaeaea;
	color: #777;
}
footer small {
	float: left
}
footer{
	margin-top:45px;
	padding:5px;
	border-top: 2px solid #eaeaea;
	color: #777;
}

footer a:hover{
	color:#222;
}


footer ul{
	float: right;
	list-style: none;
}

footer ul li {
	
	float:left;
	margin-left: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}
.customs {
	height: 400px;
	
}