<div class="container">
	<footer class="footer">
		<small>Copyright&copy;<a href="http://www.zia-ul-quran.com/">Zia Ul Quran Publications</a> by <a href="https://www.facebook.com/alie.ammaar">Rana Ali Ammaar</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About" 	 %></li>
			</ul>
		</nav>
	
	</footer>
</div>